@import "./Color.scss";

.containerG{
    display: flex;
    padding: 20px;
    box-shadow: 15px 15px 10px 5px rgba($color: #000000, $alpha: 0.1);
    border-radius: 15px;
    border: 2px solid white;
    color: $colorMarron;
    z-index: 2;
    margin-top: 50px;
    .containerS{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        
        border-radius: 15px;
        border: 2px solid white;
        color: $colorMarron;
        z-index: 2;
        margin-top: 50px;
    }
    .espace{
        margin-left: 25px;
    }
    img{
        width: 60%;
        border-radius: 15px;

    }
}

@media screen and (max-width: 405px) {
    .containerG{
        .containerS{
            display: grid;
        grid-template-columns:  1fr;
        }
    }
}